h1 {
    color: rgb(15, 9, 7);
}

h2 {
    color: rgb(40, 113, 182);
}

a {
    width: 50px;
    font-weight: 800;
    margin: 15px 5px;
    padding: 16px 15px;
    background-color: rgb(255, 0, 242);
    color: black;
    text-decoration: none;
}

img {
    padding: 20px 20px;
    height: 200px;
    width: 200px;
}